html,
body,
#root,
.app,
.app > div {
  height: 100%;
}
.invisible {
  display: none;
}
.greyBackground{
  background-color: #ebeff2;
}
#content-body {
  padding-left:80px;
  padding-top: 70px;
  background-color: #ebeff2;
  height: 100%;
}
@media only screen and (max-width: 990px) {
  #content-body {
    padding-top: 55px;
    padding-left:0px;
  }
  .cardDiv {
    margin-left: 30px;
  }
  #gateHeader {
    display: none;
  }
}
.content {
  padding: 20px 3% 0%;
}
.rightFlex {
  display: flex;
  justify-content: flex-end;
}
.centerFlex {
  display: flex;
  justify-content: center;
}
.clickThrough {
  pointer-events: none;
}
.clickAble {
  pointer-events: auto;
}
.tabModal {
  background-color: white;
  height: 100%;
  padding: 2%;
}
div.react-tel-input input.form-control {
  width: 100%;
}
.iconButton {
  background-color: transparent;
  border-style: none;
}
.iconButton:hover {
  background-color: transparent;
  border-style: none;
}
.iconButton:active {
  background-color: transparent;
  border-style: none;
}
.react-numeric-input {
  width: 100%;
}
.cardDiv {
  overflow-x: scroll;
  padding: 8% 5% 2% 5%;
  scroll-margin-right: 0;
}
#addGate,
#delGate {
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 9;
}
#gateHeader {
  position: absolute;
  left: 10px;
  top: 0;
  z-index: 9;
  padding: 10px;
}
.deviceTab {
  box-shadow: 0 0 20px #ebeff2;
  border-radius: 10px;
  position: relative;
}
.gateContainer{
  width: 72%;
  position:relative;
}
.deviceContainter{
  margin-top:20px;
  width: 72%;
  position:relative;
  padding-bottom:20px;
}
.modalDevice {
  right: 10px;
  top: 55px;
  max-height: calc(100% - 100px);
  position: fixed;
  z-index:800;
}
.posAbs{
  position: absolute; 
}
.card-deck .card {
  flex: 1 0;
  margin-right: 15px;
  margin-bottom: 0;
  margin-left: 15px;
}
.card-deck{
  display: flex;
  flex-flow: 	row nowrap;
}
.deviceCard{
  width:180px;
}
.cardImg{
  padding: 0px 20px 20px 20px;
  width:140px;
}
.cardButton{
  width:100%;
}
.primary-transform{
  filter: invert(36%) sepia(49%) saturate(6233%) hue-rotate(200deg) brightness(103%) contrast(104%);
}
.danger-transform{
  filter: invert(17%) sepia(86%) saturate(6280%) hue-rotate(357deg) brightness(105%) contrast(115%);
}
.success-transform{
  filter: invert(50%) sepia(100%) saturate(401%) hue-rotate(81deg) brightness(86%) contrast(82%);
}
.alertGrp{
  z-index:2000;
  position:fixed;
  bottom: 10px;
  right:20px;
}
.alert{
  position:relative;
}
.innerPlate{
  display: inline-block;
    background-color: #64D381;
    border: 0.2px solid white;
    border-radius: 3px;
    padding: 2px 15px;
    font-family: 'Charles Wright';
    color: white;
    font-size: 17px;
}
.outerPlate{
  display: inline-block;
  border: 2px solid #64D381;
  border-radius: 4px;
}
.overflowTable{
  overflow-x: auto;
}
.padding-0{
  padding: 0;
}
td.padding-0{
  padding: 0;
}
.dateTimePopper {
  width: 330px;
}
.dateTimeClear::after{
  background-color: transparent;
  font-size: 20px;
  color:gray;
}