html,
body,
#root,
.app,
.app > div {
  height: 100%;
}
.invisible {
  display: none;
}
.greyBackground{
  background-color: #ebeff2;
}
#content-body {
  padding-top: 70px;
  background-image: url('./assets/grey.png');
    background-repeat: repeat;
  height: 100%;
  transition: width, left, right, 0.3s;
}
.content-body-collapsed{
  padding-left: 80px;
}
.content-body-expand{
  padding-left:  250px;
}
.pro-sidebar nav.pro-menu{
  padding-top: 0;
}
.sideBar{
  display:block;
}
.nav-dropdown{
  display:none;
}
@media only screen and (min-width: 769px) {
  .navBar{
    height: 60px;
    background: #ffffff !important;
  }
}
@media only screen and (max-width: 768px) {
  .sideBar{
    display:none;
  }
  .nav-dropdown{
    display:block;
  }
  #content-body {
    padding-top: 55px;
    padding-left:0px;
  }
  .cardDiv {
    margin-left: 30px;
  }
  #gateHeader {
    display: none;
  }
  nav.navBar-expand, nav.navBar-collapsed{
    left: 0px;
    width: 100%;
  }
}
.content {
  padding: 20px 3% 0%;
}
.rightFlex {
  display: flex;
  justify-content: flex-end;
}
.centerFlex {
  display: flex;
  justify-content: center;
}
.clickThrough {
  pointer-events: none;
}
.clickAble {
  pointer-events: auto;
}
.tabModal {
  background-color: white;
  height: 100%;
  padding: 2%;
}
div.react-tel-input input.form-control {
  width: 100%;
}
.iconButton {
  background-color: transparent;
  border-style: none;
}
.iconButton:hover {
  background-color: transparent;
  border-style: none;
}
.iconButton:active {
  background-color: transparent;
  border-style: none;
}
.react-numeric-input {
  width: 100%;
}
.cardDiv {
  overflow-x: scroll;
  padding: 8% 5% 2% 5%;
  scroll-margin-right: 0;
}
#addGate,
#delGate {
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 9;
}
#gateHeader {
  position: absolute;
  left: 10px;
  top: 0;
  z-index: 9;
  padding: 10px;
}
.deviceTab {
  box-shadow: 0 0 20px #ebeff2;
  border-radius: 10px;
  position: relative;
}
.gateContainer{
  width: 72%;
  position:relative;
}
.deviceContainter{
  margin-top:20px;
  width: 72%;
  position:relative;
  padding-bottom:20px;
}
.modalDevice {
  right: 10px;
  top: 55px;
  max-height: calc(100% - 100px);
  position: fixed;
  z-index:800;
}
.posAbs{
  position: absolute; 
}
.card-deck .card {
  flex: 1 0;
  margin-right: 15px;
  margin-bottom: 0;
  margin-left: 15px;
}
.card-deck{
  display: flex;
  flex-flow: 	row nowrap;
}
.deviceCard{
  width:180px;
}
.cardImg{
  padding: 0px 20px 20px 20px;
  width:140px;
}
.cardButton{
  width:100%;
}
.primary-transform{
  filter: invert(36%) sepia(49%) saturate(6233%) hue-rotate(200deg) brightness(103%) contrast(104%);
}
.danger-transform{
  filter: invert(17%) sepia(86%) saturate(6280%) hue-rotate(357deg) brightness(105%) contrast(115%);
}
.success-transform{
  filter: invert(50%) sepia(100%) saturate(401%) hue-rotate(81deg) brightness(86%) contrast(82%);
}
.alertGrp{
  z-index:2000;
  position:fixed;
  bottom: 10px;
  right:20px;
}
.alert{
  position:relative;
}
.innerPlate{
  display: inline-block;
    background-color: #64D381;
    border: 0.2px solid white;
    border-radius: 3px;
    padding: 2px 15px;
    font-family: 'Charles Wright';
    color: white;
    font-size: 17px;
}
.outerPlate{
  display: inline-block;
  border: 2px solid #64D381;
  border-radius: 4px;
}
.overflowTable{
  overflow-x: auto;
}
.padding-0{
  padding: 0;
}
td.padding-0{
  padding: 0;
}
.dateTimePopper {
  width: 330px;
}
.dateTimeClear::after{
  background-color: transparent;
  font-size: 20px;
  color:gray;
}
.imageClick:hover{
  opacity: 0.7;
  cursor: pointer;
}
.navBar-collapsed{
  left: 75px;
  width: calc(100% - 75px);
}
.navBar-expand{
  left: 250px;
  width: calc(100% - 250px);
}
.navBar{
  top: 0;
  position: fixed;
  transition: width, left, right, 0.3s;
  border-bottom: 1px solid #eee;
}
.breadcrumb{
  background-color: transparent;
  padding:0;
}
.cardIcon{
  width: 80px;
    height: 80px;
    overflow: unset;
    text-align: center;
    margin-bottom: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardIconDiv{
  float: left;
    padding: 15px;
    margin-top: -35px;
    border-radius: 3px;
    display: flex;
    width: 95px;
      height: 95px;
      justify-content: center;
      align-items: center;
}
.danger{
  background: linear-gradient(
60deg
, #ef5350, #e53935);
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(244 67 54 / 40%);
}
.success{
  background: linear-gradient(
60deg
, #66bb6a, #43a047);
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(76 175 80 / 40%);  
}
.warning{
  background: linear-gradient(
60deg
, #ffa726, #fb8c00);
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(255 152 0 / 40%);
}
.info{
  background: linear-gradient(
60deg
, #26c6da, #00acc1);
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(0 172 193 / 40%);
}
.cardHomeText{
  display: inline-block;
  text-align: right;
  padding:10px;
  color: #999;
}
.cardHomeNumber{
  font-weight: 400;
}
.dashboard{
  padding-bottom:20px;
  margin-top:-10px;
  margin-bottom:0;
}
.cardTitle{
  padding:10px 20px;
}